<% if project.errors.any? %>
    <% project.errors.full_messages.each  do |error|%>
    <%= error %>
    <% end %>
<% end %>

<%= form_with model: project do |form| %>
    <div>
        <%= form.label :title%> <br>
        <%= form.text_field :title%>
    </div>
    
    <div>
        <%= form.label :description%><br>
        <%= form.text_area :description%>
    </div>
    
    <div>
        <%= form.submit a, data: {turbo: false}%>
    </div>

<% end %>