<% if @project.present?%>
<h1> <%= @project.title %></h1>
<p> <%= @project.description%></p>
<%else%>
Project Not Found
<% end %>
<%= link_to 'Back',project_manager_path(current_user) %>
<%= link_to 'Edit',edit_project_path(@project)%>
<%= button_to 'Delete Project',project_path(@project), method: :delete %>
<%= link_to 'Back To Home', project_manager_path(current_user)%>
